<form method="post">
	<input type="text" value="http://" name="url" id="url" />
	<input type="submit" value="shorten" id="submit" />
	<div class="clear"></div>
</form>
<% unless @url.nil? %>
	<section class="result">
		Your shortened URL <%= h(params[:url]) %> is:
		<a href="http://<%= "localhost:#{Sinatra::Application.port}/#{@url.url_key}" %>">
		http://localhost/<%= @url.url_key %></a>
	</section>
<% end %>