<!DOCTYPE html>
<html>
	<head>
		<title>Songbird URLs</title>
		<link type="text/css" href="/css/reset.css" rel="stylesheet" />
		<link type="text/css" href="/css/app.css" rel="stylesheet" />
	</head>
	<body>
		<header>
			<h1>Songbird URLs</h1>
		</header>
		<article>
			<%= yield %>
		</article>
	</body>
</html>